IDI_ICON1 ICON "netspeedmeter.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Md Sayed Alve"
            VALUE "FileDescription",  "NetSpeedMeter Taskbar Overlay"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "NetSpeedMeter"
            VALUE "LegalCopyright",   "Copyright (c) 2026 Md Sayed Alve. All rights reserved."
            VALUE "OriginalFilename", "NetSpeedMeter.exe"
            VALUE "ProductName",      "NetSpeedMeter"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END